/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: mistyrose;
  color: darkslategray;
}

h1 {
  font-family: verdana, arial, sans-serif; 
}

button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#button1 {
    background: lightgreen;
    box-shadow: rgba(14, 173, 105) 5px 5px;
}
#button1:active, #button1.lit {
    background:green;
    background: url(https://cdn.glitch.global/20241e75-2d16-4827-95e1-c8e8ccb9b21c/6dbab19565402b20c14a9ef3629fd2d3.png?v=1650524289329);
    background-size: contain;
    box-shadow: none;
}

#button2 {
    background: lightblue;
    box-shadow: rgba(163, 196, 243) 5px 5px;
}
#button2:active, #button2.lit {
    background:blue;
    background: url(https://cdn.glitch.global/20241e75-2d16-4827-95e1-c8e8ccb9b21c/images.png?v=1650523755844);
    background-size: contain;
    box-shadow: none;
}

#button3 {
    background: pink;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px;
}
#button3:active, #button3.lit {
    background:red;
    background: url(https://cdn.glitch.global/20241e75-2d16-4827-95e1-c8e8ccb9b21c/tumblr_o27e3mIJK41ul5fqko2_1280.jpg?v=1650524506394);
    background-size: contain;
    box-shadow: none;
}

#button4 {
    background: lightyellow;
    box-shadow: rgba(255, 205, 178) 5px 5px;
}
#button4:active, #button4.lit {
    background:yellow;
    background: url(https://cdn.glitch.global/20241e75-2d16-4827-95e1-c8e8ccb9b21c/eb14df3cb3ecca1d8950457f295758b7.png?v=1650523764039);
    background-size: contain;
    box-shadow: none;
}

#button5 {
    background: plum;
    box-shadow: rgba(199, 125, 255) 5px 5px;
}
#button5:active, #button5.lit {
    background:purple;
    background: url(https://cdn.glitch.global/20241e75-2d16-4827-95e1-c8e8ccb9b21c/oPpIC8P0Lo_1024x1024%402x.jpg?v=1650524448771);
    background-size: cover;
    box-shadow: none;
}

#button6 {
    background: burlywood;
    box-shadow: rgba(181, 132, 99) 5px 5px;
}
#button6:active, #button6.lit {
    background:chocolate;
    background: url(https://cdn.glitch.global/20241e75-2d16-4827-95e1-c8e8ccb9b21c/bae239997772d95edbda0e105a5c6c3e.png?v=1650523761152);
    background-size: contain;
    box-shadow: none;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}